@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    background: rgb(17, 37, 100);
}

.header-wrap {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin: 30px 0;

}

.title-p2{
    display: inline;
    color: #8dbbda;
}

hr {
	border-top: 1px solid rgb(255, 255, 255);
}

.header-menu {
    margin-top: 20px;
}

.header-list{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    justify-content: space-between;
}
.header-link{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
}
.header-link:hover, .header__link:focus, .header__link:hover.active{
    opacity: .65;
}

.intro {
    display: flex;
    width: 80%;
    margin: 60px auto;
}
.intro-photo {
    margin: 0 auto;
    width: 50%;
    box-shadow: 0px 0px 60px 10px #9ebeff;
}
.intro-text {
    display: inline;
    width: 50%;
    background: rgb(255, 255, 255);
    padding: 0 50px

    /* text-align: center; */
}
.intro-main-text {
    margin: 100px 0 40px;
    font-family: Montserrat;
    color: rgb(17, 37, 100);
    font-weight: bold;
    font-size: 36px;
    line-height: 40px
}
.intro-discription-text {
    font-family: Montserrat;
    color: rgb(17, 37, 100);
}